@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Plus+Jakarta+Sans:ital@1&family=Roboto&family=Sora&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fpage page/*/
.kontainer {
  max-width: 80%;
  margin: 20px;
}
.Row {
  width: 30%;
}
input {
  width: 20px;
  height: 15px;
}
label {
  width: 365px;
  height: 24px;
}
.f-p {
  width: 231px;
  height: 24px;
  gap: 16px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344051;
}
.f-p2 {
  width: 356px;
  height: 28px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344051;
}
.f-heading {
  color: #141c24;
  font-family: "Roboto";
  width: 384px;
  height: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.img {
  width: 200px;
  height: 40px;
}
.f-input {
  width: 20px;
}
/* Signup page/*/
.f-line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 1.6rem;
  width: 19px;
  height: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.f-line::before,
.f-line::after {
  content: "";
  height: 1px;
  width: 166.5px;
  background-color: #e4e7ec;
  display: block;
}
.button-text {
  width: 154px;
  height: 24px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344051;
}
.Button {
  width: 110%;
  color: #0095be;
}
/* Pagev page/*/
.pagev-p {
  width: 384px;
  height: 48px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #344051;
}
.pagev-btn {
  color: #344051;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.otp-area {
  width: 70%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
}

.otp-area input {
  width: 56px;
  height: 56px;
  padding: 16px;
  outline: none;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #e4e7ec;
  &:focus {
    border: 2px solid black;
  }
}
/* ProfileID page/*/

.Profile-input {
  width: 384px;
  height: 44px;
  border-radius: 8px;
}
.Profile-label {
  width: 64px;
  height: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #344051;
}
.Profile-label3 {
  width: 91px;
  height: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #344051;
}
.Profile-label4 {
  width: 46px;
  height: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #344051;
}
/* Password page/*/
.Pass-btn {
  position: absolute;
  top: 10%;
  right: 1%;
  aspect-ratio: 1;
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}
.Passw-input {
  height: 40px;
  border-radius: 8px;
}
.p2 {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  font-size: 20px;
  border: 1.5px;
}
.pas-input {
  width: 20px;
  height: 12px;
}
.pass-label1 {
  width: 319px;
  height: 20px;
  color: #344051;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.progress-bar {
  transition: 0.4s ease-in-out;
}

.label-password {
  display: block;
  position: relative;
}
.input-password {
  display: block;
  text-transform: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.show-password {
  cursor: pointer;
  position: absolute;
  top: 30px;
  height: 16px;
  right: 0;
  padding: 4px 29px;
  font-size: 0.9rem;
  font-weight: 700;
}
.secondShow-password {
  cursor: pointer;
  position: absolute;
  bottom: 85px;
  height: 16px;
  right: 0;
  padding: 4px 29px;
  font-size: 0.9rem;
  font-weight: 700;
}
/* Houserule page/*/
.H-heading {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
.p-h {
  color: #141c24;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.cont {
  display: flex;
  align-items: top;
}
.cont p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #141c24;
}
.fa {
  margin-right: 5px;
}

@media (max-width: 767.98px) {
  .row {
    width: 105%;
  }
  label {
    width: 260px;
    height: 24px;
    gap: 16px;
  }
  .f-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.2rem;
    width: 19px;
    height: 20px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .f-line::before,
  .f-line::after {
    content: "";
    height: 1px;
    width: 110px;
    background-color: #e4e7ec;
    display: block;
  }
  /* Pagev page/*/
  .otp-area {
    width: 70%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
  }
  .otp-area input {
    width: 45px;
    height: 50px;
    padding: 16px;
    outline: none;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #e4e7ec;
    &:focus {
      border: 2px solid black;
    }
  }
  .pagev-p {
    width: 384px;
    height: 60px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #344051;
  }
  .pagev-p2 {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
  }
  .fw-semibold {
    font-size: 14px;
  }
  /* Houserule page/*/
  .cont {
    padding-top: 20px;
  }
  /* Category page/*/
  .ton {
    width: 794px;
    height: 280px;
    top: 46px;
    left: 73px;
    padding: 0px, 24px, 0px, 24px;
    justify-content: space-between;
  }
}

/* NavbarPage page/*/
.Nav-container {
  margin-top: 50px;
  padding: 20px;
}

.Nav-password {
  padding: 80px, 16px, 0px, 216px;
}
.Nav-img {
  background: #77e2ff;
  padding: 20px;
}
/* VCode page/*/
.otp-VCode {
  width: 70%;

  display: flex;
  gap: 10px;
}
.otp-VCode input {
  width: 56px;
  height: 56px;
  outline: none;

  border-radius: 12px;
  border: 2px solid #e4e7ec;
  &:focus {
    border: 2px solid black;
  }
}
/* CreateAcc page/*/
.CreateAcc-password {
  display: block;
  text-transform: none;
  width: 130%;
  height: 50px;
  border-radius: 8px;
}
.f-line2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 1.5rem;
  width: 29px;
  height: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.f-line2::before,
.f-line2::after {
  content: "";
  height: 1px;
  width: 19f0px;
  background-color: #e4e7ec;
  display: block;
}

/* MainPage */
.image-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  font-size: 24px; /* Adjust font size as needed */
  text-align: center; /* Center text horizontally */
}
.centered-text h4 {
  width: 610px;
  height: 120px;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}

.centered-text p {
  width: 650px;
  height: 56px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.jumbotron {
  border-radius: 16px;
  padding: 24px;
  gap: 12px;
  width: 1000px;
  height: 104px;
  background: #ffffff;
  align-items: center; /* Adjust margin-top as needed to position the Jumbotron */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px darkgrey;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Category page */
.card-img {
  width: 394px;
  height: 290px;
  border-radius: 16px;
}
.card-p {
  padding: 2px, 8px, 2px, 8px;
  border-radius: 999px;
  border: 1px solid #ced2da;
  gap: 8px;
  background: #ced2da;
}
.card-p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.card-p1 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.card-title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.tron {
  /* width: 1216px; */
  height: 377px;
  border-radius: 48px;
  background: #0095be;
}

.ton {
  width: 794px;
  height: 280px;
  top: 46px;
  left: 73px;
  padding: 0px, 24px, 0px, 24px;
  justify-content: space-between;
}

.ton h4 {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  /* width: 586px; */
  height: 120px;
}

.ton p {
  width: 704px;
  height: 72px;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.tron2 {
  /* width: 1216px; */
  height: 377px;
  border-radius: 48px;
  background: #cca100;
}

.ton2 {
  width: 794px;
  height: 280px;
  top: 46px;
  left: 73px;
  padding: 0px, 24px, 0px, 24px;
  justify-content: space-between;
}

.ton2 h4 {
  width: 714px;
  height: 60px;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.ton2 p {
  width: 704px;
  height: 72px;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #344051;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.copy {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #637083;
}
.show-password2 {
  cursor: pointer;
  position: absolute;
  top: 30px;
  height: 16px;
  right: 350px;
  padding: 4px 29px;
  font-size: 0.9rem;
  font-weight: 700;
}

/* Notify Page */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ButtonP */

.Bp-button {
  background: #637083;
}
